body, html {
  margin: 0;
}
.selection {
  display: flex;
  flex-direction: row;
  gap: 50px;
  text-align: center;
  justify-content: center;
}
th {
  padding: 20px;
  border: 1px black solid;
  background-color: red;
}
td {
  padding: 20px;
  border-radius: 10PX;
  border: 1px black solid;
}