body,
html {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
.selection {
  display: flex;
  flex-direction: row;
  gap: 50px;
  text-align: center;
  justify-content: center;
}

.input {
  border-radius: 10px;
  border: 1px grey solid;
  padding: 5px;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input2 {
  border-radius: 10px;
  border: 1px grey;
}

.submit {
  border-radius: 10px;
  border: 1px grey;
  padding: 5px;
}

.label {
  width: 100px;
}

th {
  padding: 10px 20px;
  border: 1px grey solid;
  background-color: white;
  border-radius: 20px;
  color:rgb(18, 78, 168) ;
}

td {
  padding: 10px 20px;
  border-radius: 10PX;
  border: 1px grey solid;
  border-radius: 20px;
}